*{
   box-sizing: border-box;
}

.box1{
    width: 328px;
    height: 132px;
    background-color: #D9EDFF;
    border-color: #D9EDFF;
    border-style: solid;
    border-radius: 11px;
    display: inline-block;
    margin-right: 50px;
    padding: 20px;
}

.box2{
    width: 328px;
    height: 253px;
    background-color: #FFFFFF;
    border-color: #D9EDFF;
    border-style: solid;
    border-radius: 11px;
    padding-left: 20px;
    margin-left: -23px;
    margin-top: -5px;
}

h3{
    color: #252B42;
    display: flex;
}

span{
    margin-top: 25px;
    margin-left: 10px;
}
